@import "../../libs/bootstrap-config.scss";

.company-history {
  .company-list {
    margin: 0 -20px;

    @include media-breakpoint-down(xs) {
      margin: 0;
    }
  }

  .company-list-item {
    $base-height: 100px;

    height: $base-height;
    width: 25%;
    float: left;
    line-height: $base-height;
    text-align: center;

    .contents {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 33.3334%;
    }

    @include media-breakpoint-down(xs) {
      width: 50%;
    }
  }
}