@import "../../libs/bootstrap-config.scss";

.footer {
  .about-me {
    padding: 20px 0;
    background: $brand-primary;
    color: $gray-dark;

    a {
      color: $gray-dark;
    }
  }

  .company-info {
    padding-top: 10px;
    padding-bottom: 10px;
    background: $gray-dark;
    color: $brand-primary;
  }

  .availability {
    $color: #000;

    display: block;
    margin-top: 20px;
    padding: 10px;
    border: solid 2px $color;
    border-radius: $border-radius;
    font-weight: 700;
    color: $color;
    transition: all ease-in-out 0.1s;

    &:hover {
      background: $color;
      color: $brand-primary;
      text-decoration: none;
      cursor: pointer;
    }
  }
}