{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "syntax-class-properties",
    "syntax-object-rest-spread",
    "transform-class-properties",
    "transform-object-rest-spread",
    "./tools/scssImportResolver"
  ],
  "env": {
    "webpack-start": {
      "plugins": [
        [
          "react-transform", {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            } ]
        } ]
      ] }
  }
}