@import '../../libs/bootstrap-config.scss';

.chat {
  .chat-textbox {
    @extend %flexbox;
    width: 100%;

    .send {
      @include flex(0, 0, 60px);
      text-align: right;

      button {
        padding-top: 4px;
        padding-bottom: 5px;
      }
    }

    .textbox {
      @include flex(1);
    }
  }
}