@import "../../libs/bootstrap-config.scss";

.learn-more-links {
  .availability {
    color: #000;
    padding: 10px;
    border-radius: $border-radius;
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;

    &:hover {
      text-decoration: none;
    }
  }

  .availability-open {
    background: $brand-success;
  }

  .availability-closed {
    background: $brand-warning;
  }
}