@import "../../libs/bootstrap-config.scss";

.base-modal {
  display: none;
}

.base-modal-shadow,
.base-modal-layer {
  top: 0;
  left: 0;
  width: 100%;
}

.base-modal-shadow {
  position: fixed;
  z-index: 101;
  height: 100%;
  background: rgba(#000, 0.5);
}

.base-modal-layer {
  position: absolute;
  z-index: 102;
}

.base-modal-chrome {
  max-width: 520px;
  width: 100%;
  padding: 0 20px;
  margin: 20px auto;
}

.base-modal-contents {
  position: relative;
  padding: 20px;
  border: solid 2px #000;
  border-radius: $border-radius;
  background: $gray-lighter;
}